.file_container 
  height: 160px
  position: relative

.drag-n-drop 
  color: transparent

.drag-n-drop::-webkit-file-upload-button 
  visibility: hidden

.drag-n-drop::after 
  width: 100%
  height: 100%
  position: absolute
  top: 0
  left: 0
  display: inline-block
  border: solid black 3px
  content: "drag and drop \a or click here to add files"
  color: black
  text-align: center
  padding-top: 45px
  vertical-align: middle



.preview_img
  width: 25%



.dropdown_button
  border: none
  &:hover
    cursor: pointer

.dropdown 
  border: 2px solid black
  width: fit-content
  padding: 5px 2px
  .dropdown_list
    display: none
    list-style: none
    
    opacity: 0
    transition: opacity 200 ease-out 200
    
     
  .active 
    display: flex
    flex-direction: column
    align-items: flex-start
    padding: 2px 2px
    opacity: 1
    

    li
      width: 100% 
      cursor: pointer
      margin-top: 4px
      &:hover
        background-color: #0d80f4
        
    label
      padding: auto 0
      
      
      

    


