.dot_container 
  margin-top: 35vh
  align-self: center
  display: flex
  gap: 1px
  justify-content: center
  flex-direction: row
  align-items: center

.dot 
  border: 2px $primary solid
  border-radius: 100%
  min-width: 10px
  aspect-ratio: 1
