nav
  position: relative


#navbarSupportedContent
  z-index: -1
  position: absolute
  top: 0
  left: 0
  transition: all 200ms ease-out
  transform: translateY(-220px)
  width: 100%


@media (min-width:1000px) 
  #navbarSupportedContent
    z-index: 1
    position: relative
    width: 75%
 

    

  
