$primary:       #002632
$secondary:     #331900
$success:       #033324
$info:          #0085FF
$danger:        #A82D2E
$black: #111
$gray: #4c4c4c
$white: #fff

$navbar-light-color:                rgba($black, .8) 
$navbar-light-hover-color:          rgba($black, 1) 
$navbar-light-active-color:         rgba($primary, .9) 
$navbar-light-disabled-color:       rgba($gray, .3) 
$navbar-light-toggler-border-color: rgba($white, .1)
$navbar-light-active-color:         rgba($primary, .9) 
