.circle
  width: 35px
  height: 35px
  border-radius: 100%
  border: 2px black solid

.bg-red
  background-color: #ff0000
.bg-green
  background-color: #07bd10
.bg-blue
  background-color: #1200d5


.banner
  background-image: url("../img/pexels-the-lazy-artist-gallery-1342609.jpg")
  background-size: cover
  height: 50vh
  color:#fff
  display: flex
  align-items: end
  .banner_overlay
    background: linear-gradient(to top, #002632, #002632bd 70%,#00263200)
    width: 100%
    p
      max-width: 300px
#categories-container
  ul
    list-style: none
  li
    width: 100%
    background-color: #04063b
    aspect-ratio: 1
    display: flex
    justify-content: center
    align-items: end
    
    
    
    
    
  