.small-img
  img
    width: 100%
    aspect-ratio: 1
    object-fit: cover
    object-position: top center
    
.big-img
  img
    width: 100%
    aspect-ratio: 1
    object-fit: cover
    object-position: top center

    
